:root {
  --Font-Size: 15px ;
  /* medium|xx-small|x-small|small|large|x-large|xx-large|smaller|larger|length|initial|inherit; */
  --Font-Variant: normal ;
  /* normal|small-caps|initial|inherit */
}

*:not([class*="hljs"]):not(code) {
  font-family: "Curse Casual [Rus by me]"!important;
  font-variant: var(--Font-Variant)!important;
}

.markup:not(code) {
  font-size: var(--Font-Size)!important;
}

:root {
  --Code-Font-Size: 15px ;
  /* medium|xx-small|x-small|small|large|x-large|xx-large|smaller|larger|length|initial|inherit; */
  --Code-Font-Variant: normal ;
  /* normal|small-caps|initial|inherit */
}

code {
  font-family: "Curse Casual [Rus by me]"!important;
  font-size: var(--Code-Font-Size)!important;
  font-variant: var(--Code-Font-Variant)!important;
}
